<nav>
  ${state === 'collapsed' ?
    html`
      <span class="project-name">
        todo all the things
      </span>
      <tdw-icon @click="${toMenu}" icon="menu"></tdw-icon>
    ` : nothing
  }
  ${state === 'menu' ?
    html`
      <div class="btn-bar">
      <button @click="${toFilter}" class="btn sml">
        <tdw-icon icon="search"></tdw-icon>
        <span class="btn-text">Filter</span>
      </button>
      <button @click="${showTools}" class="btn sml">
        <tdw-icon icon="sliders"></tdw-icon>
        <span class="btn-text">Tools</span>
      </button>
      <button @click="${showOptions}" class="btn sml">
        <tdw-icon icon="settings"></tdw-icon>
        <span class="btn-text">Options</span>
      </button>
      <button @click="${showHelp}" class="btn sml">
        <tdw-icon icon="helpCircle"></tdw-icon>
        <span class="btn-text">Help</span>
      </button>
      </div>
      <tdw-icon @click="${toCollapsed}" icon="x"></tdw-icon>
    ` : nothing
  }
  ${state === 'filter' ?
    html`
      <tdw-filter></tdw-filter>
      <tdw-icon @click="${toCollapsed}" icon="x"></tdw-icon>
    ` : nothing
  }
</nav>
