// https://www.colourlovers.com/palette/396247/Melting_Puppies

@crayola-sea-green: #93DFB8;
@melting-melon: #FFC8BA;
@purple-puppies: #E3AAD6;
@boo-hoo-blue: #B5D8EB;
@pink-puddles: #FFBDD8;

@color-alpha: @crayola-sea-green;
@color-beta: @melting-melon;
@color-gamma: @purple-puppies;
@color-delta: @boo-hoo-blue;
@color-epsilon: @pink-puddles;

@color-alert: #721c24;
@color-success: @crayola-sea-green;

@color-dark-d: #d0d0d0;
@color-dark-5: #505050;
@color-dark-3: #303030;
@color-dark-2: #202020;


@color-dark: #606c76;

@color-undark-10: tint(@color-dark, 10%);
@color-undark-20: tint(@color-dark, 20%);
@color-undark-30: tint(@color-dark, 30%);
@color-undark-40: tint(@color-dark, 40%);

@color-font: @color-dark;
