${remoteStorageState === 'noDriver' ?
  html`
    <tdw-icon appearance="muted" icon="cloudOff"></tdw-icon>
  ` : nothing
}
${remoteStorageState === 'connected' ?
  html`
    <tdw-icon appearance="success" @click="${requestSync}" icon="cloud"></tdw-icon>
  ` : nothing
}
${remoteStorageState === 'error' ?
  html`
    <tdw-icon
      appearance="alert"
      @click="${requestSync}"
      icon="cloudLightning"
    ></tdw-icon>
  ` : nothing
}
${remoteStorageState === 'pending' ?
  html`
    <tdw-icon class="shake" icon="cloudLightning"></tdw-icon>
  ` : nothing
}
