<tdw-nav-bar .selectedListId="${selectedListId}"></tdw-nav-bar>
<tdw-nav-bar-small .selectedListId="${selectedListId}"></tdw-nav-bar-small>
<div class="container">
  <tdw-list .list="${lists[selectedListId]}"></tdw-list>
</div>
<tdw-footer></tdw-footer>

<tdw-dialog-lists></tdw-dialog-lists>
<tdw-dialog-tools></tdw-dialog-tools>
<tdw-dialog-options></tdw-dialog-options>
<tdw-dialog-import-tasks></tdw-dialog-import-tasks>
<tdw-dialog-help></tdw-dialog-help>
<tdw-dialog-remote-storage-options></tdw-dialog-remote-storage-options>
