<span @click="${toggleComplete}" class="complete-checkbox">
  ${task.complete ?
    html`<tdw-icon icon="checkSquare"></tdw-icon>` :
    html`<tdw-icon icon="square"></tdw-icon>`
  }
</span>
<span
  @click="${activate}"
  class="description ${task.complete ? 'complete' : ''}"
>
  ${task.description}
  ${task.detail ?
    html`
      <span class="detail">
        ${task.detail}
      </span>
    ` : nothing
  }
</span>
${task.pending ?
  html`
  <span class="pending-remote">
    <tdw-icon icon="loader" spin>
  </span>
  ` : nothing
}
<!-- ${task.conflicted ?
  html`
    <div
      @click="${filterApply}"
      class="tag tag-alert"
      data-conflict="${task.conflicted}"
    >
      <tdw-icon icon="alertTriangle"></tdw-icon
      ><span class="tag-text">conflicted-${task.conflicted}</span>
    </div>
  ` : nothing
} -->
${task.createdDate ?
  html`
    <div
      @click="${filterApply}"
      class="tag tag-created-date"
      data-created-date="${task.createdDate}"
    >
        <tdw-icon icon="calendar"></tdw-icon>
      <span class="tag-text">
        ${task.createdDate}
      </span>
    </div>
  ` : ''
}
${task.priority ?
  html`
    <div
      @click="${filterApply}"
      class="tag tag-priority"
      data-priority="${task.priority}"
    >
      <!-- whitespace issues -->
      <tdw-icon icon="star"></tdw-icon
      ><span class="tag-text">${task.priority}</span>
    </div>
  ` : ''
}
${task.projects && task.projects.length ?
  html`
    ${task.projects.map((project) => {
      return html`
        <div
          @click="${filterApply}"
          class="tag tag-project"
          data-project="${project}"
        >
          <!-- whitespace issues -->
          <tdw-icon icon="plus"></tdw-icon
          ><span class="tag-text">${project.replace(/-/, ' ')}</span>
        </div>
      `
    })}
  ` : ''
}
${task.contexts && task.contexts.length ?
  html`
    ${task.contexts.map((context) => {
      return html`
        <div
          @click="${filterApply}"
          class="tag tag-context"
          data-context="${context}"
        >
          <!-- whitespace issues -->
          <tdw-icon icon="atSign"></tdw-icon
          ><span class="tag-text">${context.replace(/-/, ' ')}</span>
        </div>
      `
    })}
  ` : ''
}
${task.urls && Object.keys(task.urls).length ?
  html`
    ${Object.entries(task.urls).map(([domain, url]) => {
      return html`
        <div class="tag tag-url">
          <a target="_blank" href=${url}>
            <tdw-icon icon="externalLink"></tdw-icon
            ><span class="tag-text">${domain}</span>
          </a>
        </div>
      `
    })}
  ` : ''
}
${task.values && task.values.length ?
  html`
    ${task.values.map((value, key) => {
      return html`
        <div
          @click="${filterApply}"
          class="tag tag-value"
          data-key="${key}"
          data-value="${value}"
        >
          <!-- whitespace issues -->
          <tdw-icon icon="tag"></tdw-icon
          ><span class="tag-text">${key}:${value}</span>
        </div>
      `
    })}
  ` : ''
}
