<tdw-light-box dialog="tools">
  <span slot="title" class="title">
    Tools
  </span>
  <div slot="body" class="body menu">
    <div @click="${purge}">
      <span class="description">
        Purge completed tasks
      </span>
      <tdw-icon icon="trash2"></tdw-icon>
    </div>
    <div @click="${dialogImportTasks}">
      <span class="description">
        Import list
      </span>
      <tdw-icon icon="filePlus"></tdw-icon>
    </div>
    <div @click="${exportTasks}">
      <span class="description">
        Export list
      </span>
      <tdw-icon icon="download"></tdw-icon>
    </div>
    <div @click="${dialogHelp}">
      <span class="description">
        Help
      </span>
      <tdw-icon icon="helpCircle"></tdw-icon>
    </div>
  </div>
</tdw-light-box>
