<tdw-light-box dialog="tools">
  <span slot="title">
    Tools
  </span>
  <div slot="body" class="body menu">
    <div @click="${purge}">
      <span class="description">
        Purge completed tasks
      </span>
      <tdw-icon icon="trash2"></tdw-icon>
    </div>
    <div @click="${deleteList}">
      <span class="description">
        Delete list (descructive!)
      </span>
      <tdw-icon icon="trash2"></tdw-icon>
    </div>
    ${deleteListShowConfirmation ?
      html`
        <div class="justify-content-center">
          <span class="description mr-20">
            Really delete list?
          </span>
          <tdw-icon
            class="mr-20"
            @click="${deleteListConfirm}"
            icon="check"
          ></tdw-icon>
          <tdw-icon
            @click="${deleteListCancel}"
            icon="x"
          ></tdw-icon>
        </div>
      ` : nothing
    }
    <div @click="${destroyLocalStorage}">
      <span class="description">
        Clear all local data (destructive!)
      </span>
      <tdw-icon icon="alertTriangle"></tdw-icon>
    </div>
    <div @click="${dialogImportTasks}">
      <span class="description">
        Import list
      </span>
      <tdw-icon icon="filePlus"></tdw-icon>
    </div>
    <div @click="${exportTasks}">
      <span class="description">
        Export list
      </span>
      <tdw-icon icon="download"></tdw-icon>
    </div>
  </div>
</tdw-light-box>
