<tdw-light-box dialog="conflict">
  <div slot="title">
    I'm Feeling Conflicted!
  </div>
  <div slot="body" class="body information">
    <p>
      Oh noes! You just edited a task which was also changed in your remote storage, so there's two different versions of these tasks.
    </p>
    <div class="locals">
      ${locals.map((local) => {
        return html`
          <div>${local.raw}</div>
        `
      })}
    </div>
    <div class="remotes">
      ${remotes.map((remote) => {
        return html`
          <div>${remote.raw}</div>
        `
      })}
    </div>
    <p>
      Right now, the list on this device has both versions, but the remote storage doesn't have your local version, and it won't be saved there until the !conflicted tag is removed.
    </p>
    <p>
      You can:
    </p>
    <div class="flex-column-center">
      <div>
        <div>
          <input
            name="conflict-choice"
            type="radio"
            id="keepLocals"
            value="keepLocals"
          >
          <label for="keepLocals">
            Keep your local changes, and discard the remote version.
          </label>
        </div>
        <div>
          <input
            name="conflict-choice"
            type="radio"
            id="keepRemotes"
            value="keepRemotes"
          >
          <label for="keepRemotes">
            Keep the remote changes, and discard the local version.
          </label>
        </div>
        <div>
          <input
            name="conflict-choice"
            type="radio"
            id="manual"
            value="manual"
          >
          <label for="manual">
            Do nothing, and remove the !conflicted flag yourself.
          </label>
        </div>
      </div>
    </div>
    <div class="flex-column-right">
      <button @click="${resolveConflict}" class="btn">
        <tdw-icon icon="save"></tdw-icon>
        <span class="btn-text">Make It So!</span>
      </button>
    </div>
</tdw-light-box>
