:host {
  margin-bottom: 0.5rem;
  display: flex;
}
input {
  -webkit-appearance: none;
  background-color: transparent;
  border: 0.1rem solid #d1d1d1;
  border-radius: .4rem;
  box-shadow: none;
  box-sizing: inherit;
  height: 3.8rem;
  padding: .6rem 1.0rem .7rem;
  box-sizing: border-box;
  width: 100%;
  &:focus {
    outline: 0;
  }
}
