:host {
  display: block;
  height: 2rem;
  width: 2rem;
}
.feather {
  height: 2rem;
  width: 2rem;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}
.tag .feather {
  height: 1.8rem;
  width: 1.8rem;
}
